{% extends "layouts/page.njk" %}
{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">
      <a href="/search" class="govuk-back-link">Back to search results</a>
      {% if nav %}
      <div class="permit-pagination-inline">
        <nav class="govuk-pagination govuk-pagination--block permit-pagination-inline__nav" aria-label="navigation">
          {% if nav.prev %}
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="/check-permit-details?permitNumber={{nav.prev}}" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">Previous permit</span>
              <span class="govuk-visually-hidden">:</span>
              <span class="govuk-pagination__link-label">{{nav.prev}}</span>
            </a>
          </div>
          {% endif %}
          {% if nav.next %}
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="/check-permit-details?permitNumber={{nav.next}}" rel="next">
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="govuk-pagination__link-title">Next permit</span>
              <span class="govuk-visually-hidden">:</span>
              <span class="govuk-pagination__link-label">{{nav.next}}</span>
            </a>
          </div>
          {% endif %}
        </nav>
        <span class="permit-pagination-inline__position govuk-body-s govuk-!-font-weight-bold">Permit {{nav.curr}} of {{nav.last}}</span>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock beforeContent %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Check permit details</h1>
      <h2 class="govuk-heading-m">Permit overview</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6 permit-summary-16px permit-details-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Permit number</dt>
          <dd class="govuk-summary-list__value">
            {{ permit.permitNumber }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Type</dt>
          <dd class="govuk-summary-list__value">
            {{ "Export" if permit.isExportNotImport else "Import" }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Valid until</dt>
          <dd class="govuk-summary-list__value">
            {{ permit.validityDate }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Status</dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--{{ permit.statusLabelColour }}">{{ permit.statusLabel }}</strong>
          </dd>
        </div>
      </dl>
      {% if permit.exporterName or permit.exporterAddress %}
      <h2 class="govuk-heading-m">Exporter</h2>
      {% endif %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-6 permit-summary-16px permit-details-summary-list">
        {% if permit.exporterName %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">
          {{permit.exporterName}}
          </dd>
        </div>
        {% endif %}
        {% if permit.exporterAddress %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">
            <address>
            {{permit.exporterAddress}}
            </address>
          </dd>
        </div>
        {% endif %}
        {% if permit.countryOfExport %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Country of export</dt>
          <dd class="govuk-summary-list__value">
            Germany
          </dd>
        </div>
        {% endif %}
      </dl>
      {% if permit.importerName or permit.importerAddress %}
      <h2 class="govuk-heading-m">Importer</h2>
      {% endif %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-6 permit-summary-16px permit-details-summary-list">
        {% if permit.importerName %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">
            {{permit.importerName}}
          </dd>
        </div>
        {% endif %}
        {% if permit.importerAddress %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">
            <address>
            {{permit.importerAddress}}
            </address>
          </dd>
        </div>
        {% endif %}
        {% if permit.countryOfImport %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Country of import</dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
        </div>
        {% endif %}
      </dl>
      <h2 class="govuk-heading-m">Origin history</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6 permit-summary-16px permit-details-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Country of origin</dt>
          <dd class="govuk-summary-list__value">
            {{ permit.countryOfOrigin }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of issue</dt>
          <dd class="govuk-summary-list__value">
            31 July 2018
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Permit number</dt>
          <dd class="govuk-summary-list__value">
            18VN39735/CT-KL
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Specimen details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6 permit-summary-16px permit-details-summary-list">
        {% if permit.scientificName %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Scientific name of species</dt>
          <dd class="govuk-summary-list__value">
            {{permit.scientificName}}
          </dd>
        </div>
        {% endif %}
        {% if permit.commonName %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Common name of species</dt>
          <dd class="govuk-summary-list__value">
            {{permit.commonName}}
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Description of specimens</dt>
          <dd class="govuk-summary-list__value">
            Live Burmese python
            <br>
            Female
            <br>
            Microchip number 12345678912345
          </dd>
        </div>
        {% if permit.citesAppendix %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">CITES Appendix</dt>
          <dd class="govuk-summary-list__value">
            {{permit.citesAppendix}}
          </dd>
        </div>
        {% endif %}
        {% if permit.gbAnnex %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">GB Annex</dt>
          <dd class="govuk-summary-list__value">
            {{ permit.gbAnnex }}
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Source</dt>
          <dd class="govuk-summary-list__value">
            W: Wild
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Purpose</dt>
          <dd class="govuk-summary-list__value">
            T: Commercial trade
          </dd>
        </div>
        {% if permit.amount.quantity %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Quantity</dt>
          <dd class="govuk-summary-list__value">
            {{ permit.quantity }}
          </dd>
        </div>
        {% endif %}
        {% if permit.amount.unit %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Net mass </dt>
          <dd class="govuk-summary-list__value">
          {{ permit.amount.mass }}{{ permit.amount.unitText }}
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Special conditions</dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body-s govuk-!-margin-bottom-0">
              This permit is valid only for the specimens and quantities stated. Transport of live animals must follow the current edition of the IATA Live Animals Regulations. A copy of this permit must travel with the consignment. Endorsement by Border Force confirms import clearance against the customs declaration you enter in this service.
            </p>
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Authorisation and issuing details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6 permit-summary-16px permit-details-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Management Authority</dt>
          <dd class="govuk-summary-list__value">
            Animal and Plant Health Agency (APHA)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Signature and official stamp</dt>
          <dd class="govuk-summary-list__value">
            Emma Biggs, Head of International Trade and Customer Service
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Issuing official</dt>
          <dd class="govuk-summary-list__value">
            J. Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Place and date of issue</dt>
          <dd class="govuk-summary-list__value">
            Bristol, 30 April 2026
          </dd>
        </div>
      </dl>
      <div id="endorsement-section">
        <form method="post" action="/permit/{{ permit.permitNumber }}/endorse" autocomplete="off">
          <input type="hidden" name="permitId" value="{{ permit.permitId }}">
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Enter endorsement details</h2>
          {# <p class="govuk-body govuk-!-margin-bottom-4">Permit quantity: 1</p>--> #}
          <div class="govuk-form-group">
            <label class="govuk-label" for="actualQuantity">{{"Ex" if permit.isExportNotImport else "Im"}}ported net mass, in {{permit.amount.unitTextLong}}</label>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5"
                    id="actualQuantity"
                    name="actualQuantity"
                    type="text"
                    inputmode="numeric"
                    value="">

              <div class="govuk-input__suffix" aria-hidden="true">{{ permit.amount.unitText }}</div>
            </div>
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="deadOnArrival">Number of animals dead on arrival</label>
            <input class="govuk-input govuk-input--width-5"
                   id="deadOnArrival"
                   name="deadOnArrival"
                   type="text"
                   inputmode="numeric"
                   maxlength="4"
                   value="">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="mrnReference">Customs document reference</label>
            <input class="govuk-input govuk-input--width-20"
                   id="mrnReference"
                   name="mrnReference"
                   type="text"
                   value="{{permit.mrn}}"
                   maxlength="18"
                   spellcheck="false"
                   autocapitalize="none"
                   autocomplete="off"
                   aria-describedby="mrnReference-apply-hint">
            <p class="govuk-hint govuk-!-margin-top-2 customs-reference-actions">
              <span id="mrnReference-apply-hint" aria-live="polite"></span>
              <span class="customs-reference-link-wrap">
                <a href="#"
                   class="govuk-link govuk-link--no-visited-state endorsement-form-action"
                   id="applyReferenceLink"
                   data-permit="{{ permit.permitNumber }}">Apply reference to all permits in this shipment</a>
              </span>
            </p>
          </div>
          <div class="govuk-button-group govuk-!-margin-top-4">
            <button type="submit"
                    value="Endorse permit"
                    name="endorse"
                    class="govuk-button"
                    data-module="govuk-button"
                    data-govuk-button-init="">Endorse permit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
