
{% extends 'layouts/page.njk' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Login</h1>
    <p>This is a temporary login mechanism for people on the eCITES team until CCoE make a decision =)</p>
    <a href="https://login.microsoftonline.com/common/oauth2/authorize?resource=https://org99791a21.crm11.dynamics.com/&client_id=5b05b115-fdd0-466e-a44a-b122e210057f&response_type=code&redirect_uri=http://localhost">Login with Microsoft Account</a>
  </div>
</div>

{% endblock %}
